**/ny_taxi_postgres_data/*
.ipynb_checkpoints/
google_cloud_keys.json
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
*.csv*
*.gz*
output.csv.gz
google_credentials.json
.env
**/__pycache__/*
**/logs/*
__pycache__/